/* *********************** */
/*  Diseños de lo modales  */
/* *********************** */

dialog {
    border: 3px solid #99d714;
    padding: 0;
    margin: auto;
}

.modal_calendario { width: 900px; }

.btn {
    position: absolute; 
    z-index: 10;
    top:0;
    right:0;
    color: white; 
    font-size: 28px;
    font-weight: bold;  /* ajusto el formato del texto para que tenga negrita*/
    padding: 8px 12px; 
    cursor: pointer; 
    border-radius: 20px; 
}

.close {background-color: #f44336;} 
.close:hover {background: #da190b;}