@media screen and (max-width:1010px) and (max-height:1000px) {
    h1 {
        font-size: 2.29em !important;
    }

    header{
        height: 3.29em !important;
    }
}

html {
    font-size:100%;
    margin:0px; 
    padding:0px; 
}

body {
    background: url('../IMG/site_background.jpg') repeat; 
    background-attachment: fixed;
}

header{
    border-bottom:2px solid #00AA88;  
    height: 3.5em;
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: row; /* le indico que los elemento del bloque flexible se organinse en fila*/
}

header .inicio, .enlace {
    position: absolute;
    right:80px;
    width: 46px; /* ajusto el ancho que tendra esta clase */
    height: 46px; /* ajusto el alto que tendra esta clase */
}

header .enlace { right:160px; }

/* se crea caracteristicas para la etiqueta "b" para que sirva como negrilla*/
b {
    color: #369;
    font-weight:800;
}

p { text-align: justify; }

/* clase "link" con propiedad de enlace y le quito la aparienci de hiperbinculo */
.link:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

/* clase "hiper" con propiedad de enlace y le modifico la apariencia de hipervinculo*/
.hiper:-webkit-any-link {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Fantasy', sans-serif;
    text-decoration: none;
    color: #0000EE;
}
  
/* esta ID evita que el borde golpee debajo de objetos flotantes */
#content {
    background-color: rgba(255,255,255,.95);
    border: 3px solid #228877;
    box-shadow: 0px 0px 0px 6px #FFF; 
    border-radius:20px;
    box-sizing:border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    height:100%;
    line-height: 1.5em;
    margin:20px 50px; /*(arriba y abajo │ derecha y izquierda)*/
    overflow:hidden; 
    padding: 20px;
    z-index:0;
}

/* evitar que los titulos se expandan fuera del contenido */
h1 {
    color: #093;
    font-family: 'Ranchers';
    font-size: 2.5em;
    letter-spacing: 0.1em;
    line-height:1em;
    margin: 0%;
}

/* La etiqueta h1 con propiedad "before" (Antes) tendra un especie de gion */
h1:before {
    content: '\00273F'; /*(La guion sera una flor)*/
    color: #E83; /*el guion sera de color naranja*/
}

/* evitar que los titulos se expandan fuera del contenido */
h2 {
    border-bottom: 2px solid #09F;
    color: #09F;
    font-family: 'Ranchers';
    font-size: 2em;
    letter-spacing: 0.1em;
    line-height: 1em;
    clear:both;
}

/* evitar que los titulos se expandan fuera del contenido */
h3 {
	border-bottom:none;
	color: #E83;
	font-family: 'Ranchers', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	line-height: 1em;	
}
 
/* se crea la clase "right" para que se ocupe de posisionar la imagen a la derecha*/
.right {
    float:right; 
    height:auto; 
    margin: 5px 0 0 20px;
    max-width:100%; /* stop floats from expanding outside of content */	
    border-radius:10px;
}

/* se crea la clase "center" para que se ocupe de posisionar la imagen al centro*/
.center {
    display:block;
    height:auto;
    margin:0px auto;
    max-width:100%;
    border-radius:10px;
}

/* se crea la clase "screenshot" para que se ocupe de crear un cuadro cverde para la imagen*/
.screenshot {
    border: 3px solid #228877;
    border-radius:15px; 
    max-width:100%; 	
    height:auto;
    aspect-ratio: attr(width) / attr(height);
}

/* se crea caracteristicas para la etiqueta "ul" para controlar la lista*/
ul {	
    list-style:none;
    line-height: 1.5em;
    margin-left: -.5em;
}

/* La etiqueta li con propiedad "before" (Antes) tendra un especie de gion */
ul li:before {
    content: '\00273F'; /* La guion sera una flor */
    color: #093; /* El guion sera de color verde*/
    padding-right:8px; /* El guion tendra un espacio para la derecha*/
    font-size:1.2em; /* El guion tendra un tamaño*/
}

/* La etiqueta li tendra espacio para abajo */
li { 
    margin-block-end: 0.5em; 
    margin-right: 0.5em;
    text-align: justify;
}
  
/* La etiqueta "data" tendra una caracteristica para desplasar las tablas al centro */
.data{ margin:15px auto;}

/* Las etiquetas "td" (columna simple de la tabla) y "th" (columna de la tabla como encabesado) tendran caracteristicas para el diseño de las lineas de la tabla */
td, th { 
    padding: 4px 5px 0 5px; /*(arriba, derecha, abajo y izquierda)*/
    border:2px solid #00aa25;
}

/* La etiqueta "th" (columna de la tabla como encabesado) tendran caracteristicas para el diseño del encabesado de la tabla */
th { 
    background-color:#00AA88; 
    border-top:3px solid #228877; 
    border-bottom:3px solid #228877;
    border-left:3px solid #228877;
    border-right:3px solid #228877; 
    color: #FAFAFA
}

/* La etiqueta "tr" (fila de la tabla) con propiedad "nth-child(odd)" (filas impares) tendra un color en la tabla */
tr:nth-child(odd) {background-color: #E8E8E8;}

/* La etiqueta "tr" (fila de la tabla) con propiedad "nth-child(even)" (filas pares) tendra un color en la tabla */
tr:nth-child(even) {background-color: #FAFAFA;}

/* se crea la ID "boxsort" para que se ocupe de posisionar la imagen a la derecha*/
#boxsort{ text-align:center;}

/* se crea la clase "box_marriage" para que se ocupe de posisionar el contenido*/
.box_marriage {
    max-width:180px; 
    height:auto; 
    display:inline-block; 
    margin:10px;
}

/* La etiqueta "img" con la clase "box_marriage" para que se ocupe del tamaño de la imagen*/
.box_marriage img {max-width:100%; height:auto;}
