@import url('Diseño_movil.css');
@import url('Footer_y_Nav.css');
@import url('Imagenes.css');
@import url('Modales.css');
@import url('Iconos.css');

/* ******************* */
/*  Diseños generales  */
/* ******************* */

/* La etiqueta "html" tendra cierta carasteristica */
html {
    font-size:100%;
    margin:0px; 
    padding:0px; 
}

/* La etiqueta "body" tendra cierta carasteristica */
body {
    background: url('../IMG/fondo.jpg') repeat; 
    background-attachment: fixed;
    margin: 0;
}

/* La etiqueta "header" tendra cierta carasteristica */
header{
    border-bottom:2px solid #00AA88;  
    height: 3.5em;
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: row; /* le indico que los elemento del bloque flexible se organinse en fila*/
}

/* se crea caracteristicas para la etiqueta "b" para que sirva como negrilla*/
b {
    color: #369;
    font-weight:800;
}

/* La etiqueta "b" tendra un color para referirse a la cantidad de un objeto */
b.FechEv{ 
    color: rgb(232, 22, 22);
    font-size: 25px;
}

/* se indica que la clase "dinero" de la etiqueta "span" tendra un tipo de letra */
span.dinero{ font-weight: bold; }

/* se indica que la etiqueta "b" que esta dentro de la etiqueta "span" que tiene la clase "dinero" para que tenga negrilla amarilla para la letra G para referirse al dinero */
span.dinero b{
    color:rgb(225, 192, 4);
    font-size: 20px;
}

/* La etiqueta "p" tendra cierta carasteristica */
p { text-align: justify; }

p.FechCump{
    margin: 0;
    margin-bottom: 6px;
    width: 110px; 
    text-align: center;
}

/* clase "link" con propiedad de enlace y le quito la aparienci de hiperbinculo */
.link:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

/* clase "hiper" con propiedad de enlace y le modifico la apariencia de hipervinculo*/
.hiper:-webkit-any-link {
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Fantasy', sans-serif;
    text-decoration: none;
    color: #0000EE;
}

.sub_titulo {
    color: #09F;
    font-weight: bold;
    text-decoration: none;
}
  
/* esta ID evita que el borde golpee debajo de objetos flotantes */
#content {
    background-color: rgba(255,255,255,.95);
    border: 3px solid #228877;
    box-shadow: 0px 0px 0px 6px #FFF; 
    border-radius:20px;
    box-sizing:border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    height:100%;
    line-height: 1.5em;
    margin:50px 50px; /*(arriba y abajo │ derecha y izquierda)*/
    overflow:hidden; 
    padding: 20px;
    z-index:0;
}

/* evitar que los titulos se expandan fuera del contenido */
h1 {
    color: #093;
    font-family: 'Ranchers';
    font-size: 2.5em;
    letter-spacing: 0.1em;
    line-height:1em;
    margin: 0%;
} 


/* evitar que los titulos se expandan fuera del contenido */
h2 {
    border-bottom: 2px solid #09F;
    color: #09F;
    font-family: 'Ranchers';
    font-size: 2em;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    margin: 26.56px 0 0 0;
}

/* evitar que los titulos se expandan fuera del contenido */
h3 , summary {
	border-bottom:none;
    font-weight: bold;
	color: #E83;
	font-family: 'Ranchers', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	line-height: 1em;
    margin: 24px 0;
}

.pirn{ color: rgb(217, 0, 255); }

summary { cursor: pointer; }

summary:focus-visible { outline:none; }

details[open] > summary:first-of-type {
    list-style-type: disclosure-open;
	color: rgb(77, 208, 6);
}

.scroll-container-aldeanos,.scroll-container-candidatos {
    width: auto;           /* Ancho del contenedor */
    height: 32em;          /* Alto del contenedor */
    overflow: auto;         /* Activa la barra de desplazamiento */
    scroll-behavior: smooth; /* Desplazamiento suave */
    border: 1px solid #ccc; /* Borde opcional para definir el contorno */
}

.scroll-container-aldeanos { height: 32em; /* Alto del contenedor */ }

.scroll-container-candidatos { height: 38.5em; /* Alto del contenedor */ }

/* ********************************* */
/*  Diseños generales de las listas  */
/* ********************************* */

/* se crea caracteristicas para la etiqueta "ul" para controlar la lista*/
ul {	
    list-style:none;
    line-height: 1.5em;
    margin-left: -.5em;
}

/* se crea la clase "sep1" en la etiqueta "ul" para que se ocupe de posisionar el contenido de una lista */
ul.sep1 { 
    padding: 0 0 0 10px;
    margin: 0;
}

/* se crea la clase "sep2" en la etiqueta "ul" para que se ocupe de posisionar el contenido de una lista */
ul.sep2 { 
    padding: 0 0 0 100px;
    margin: 0;
}

/* se crea la clase "sep3" en la etiqueta "ul" para que se ocupe de posisionar el contenido de una lista */
ul.sep3 { 
    padding: 0 4px 0 100px;
    margin: 0;
}

/* se crea la clase "horario" en la etiqueta "ul" para que se ocupe de posisionar el contenido de una lista */
ul.horario { 
    padding: 0 4px;
    margin: 0;
}

/* La etiqueta li tendra espacio para abajo */
li { 
    margin-block-end: 0.5em; 
    margin-right: 0.5em;
    text-align: justify;
    margin: 8px 0 8px 8px;
}

li.gustos { 
    margin: 4px 0 4px 0;
    text-align: left;
}

/* ********************************* */
/*  Diseños generales de las tablas  */
/* ********************************* */

/* La etiqueta "data" tendra una caracteristica para desplasar las tablas al centro */
.data{
    margin:15px auto;
    border-spacing: 0px;
    border:2px solid green;
}

/* Las etiquetas "td" (columna simple de la tabla) y "th" (columna de la tabla como encabesado) tendran caracteristicas para el diseño de las lineas de la tabla */
td, th { 
    padding: 4px 5px; /*(arriba, derecha, abajo y izquierda)*/
    border:2px solid green;
}

td.perso{ padding: 8px 4px 8px 18px; }

/* La etiqueta "th" (columna de la tabla como encabesado) tendran caracteristicas para el diseño del encabesado de la tabla */
th { 
    background-color:#00AA88; 
    color: #FAFAFA
}

/* Estas clases es para cuando la celda es de solo dinero */
.td_dinero {
    text-align:center; 
    font-weight: bold;
}

.td_dinero b{
    color:rgb(225, 192, 4); 
    font-size: 20px;
}

/* Esta clase es para cuando la celda es de solo "-" */
.td_neutro{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

/* Esta clase es para cuando la celda tiene una imagen de un objeto con nombre */
td div.td_objetos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Usados en el calendario */
.td_calenda {
    text-align:center;
    padding: 0;
    width: 120px;
}

/* La etiqueta "tr" (fila de la tabla) con propiedad "nth-child(odd)" (filas impares) tendra un color en la tabla */
tr:nth-child(odd) {background-color: #E8E8E8;}

/* La etiqueta "tr" (fila de la tabla) con propiedad "nth-child(even)" (filas pares) tendra un color en la tabla */
tr:nth-child(even) {background-color: #FAFAFA;}